@mixin smallBreakpoint {
    @media screen and (max-width: 869px) {
        @content;
    }
}
@mixin mediumBreakpoint {
    @media screen and (max-width: 1252px) {
        @content;
    }
}

//fonts
$primary-font: "Libre Franklin", sans-serif;
$secondary-font: "Gloock", serif;

//colors
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$text-primary: var(--text-primary);
$button-fill: var(--button-color);
$link-color: var(--link-color);
$text-secondary: var(--text-secondary);

$tag-color: var(--tag-color);
$cool-gradient: var(--gradient);
$lame-gradient: var(--lame-gradient);