@mixin smallBreakpoint {
    @media screen and (max-width: 869px) {
        @content;
    }
}
@mixin mediumBreakpoint {
    @media screen and (max-width: 1252px) {
        @content;
    }
}

//fonts
$primary-font: "Libre Franklin", sans-serif;
$secondary-font: "Gloock", serif;

//colors
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-light: var(--background-light);
$background-accent: var(--background-accent);
$text-primary: var(--text-primary);
$button-fill: var(--button-color);
$link-color: var(--link-color);
$text-secondary: var(--text-secondary);

$tag-color: var(--tag-color);
$cool-gradient: var(--gradient);
$lame-gradient: var(--lame-gradient);
$background-secondary-gradient: var(--background-secondary-gradient);

//component-specific variables
$theme-toggle-box-shadow: var(--theme-toggle-box-shadow);
$theme-divider-opacity: var(--theme-divider-opacity);